.container {
  width: 100%;
  height: 100%;
  padding: var(--padding-layout);
  color: var(--color-text);
  background-color: white;
  position: absolute;
  align-items: center;
  font-weight: 700;
}

/* 여행게시판 제목 */
.title {
  text-align: top;
  margin: 30px auto;
  height: 50px;
  background-color: #ffc72c;
}

/* 게시판 글 보여주기 */
.write_box {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  border: 1px solid;
}

/* 게시글 헤더 정보 */
.write_info {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid;
  text-align: center;
  align-items: center;
}

.write_area {
  width: 10%;
  border-right: 1px solid;
}

.write_title {
  width: 60%;
  border-right: 1px solid;
}

.write_name {
  width: 10%;
  border-right: 1px solid;
}

.write_date {
  width: 10%;
  border-right: 1px solid;
}

.write_views {
  width: 10%;
}

/* 본문내용 */
.write {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid;
  top: 30px;
  left: 30px;
}

.btn_box {
  position: relative;
  width: 100%;
  height: 100px;
  top: 80%;
}

.like_box {
  position: relative;
  text-align: center;
  width: 500px;
  height: 50px;
  top: 10px;
  left: 30%;
  border-radius: 20px 20px 20px 20px;
}

.like_text {
  margin-top: 10px;
}

.like_btn {
  margin-left: 10px;
  font-size: 20px;
  align-items: center;
}

/* 댓글 보여주기 */

.comment_box {
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.comment_writer {
  width: 20%;
  height: 50px;
}

.comment_write {
  width: 60%;
  height: 50px;
}

.comment_date {
  width: 20%;
  height: 50px;
}

.comment_delete {
  font-size: 1rem;
  color: red;
}

.comment_delete:hover {
  cursor: pointer;
}

/* 댓글 입력하기 */
.comment_write_box {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-left: 30px;
}

.comment_write_box input {
  margin-top: -10px;
  margin-left: 40px;
  width: 80%;
  height: 40px;
}

.comment_push {
  margin-top: -10px;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  background-color: orange;
  color: #fff;
}
