.header {
  top: 0;
  width: 100%;
  height: 70px;
  padding: var(--padding-layout);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
}

.logoText {
  color: var(--color-text);
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  font-size: 1.1rem;
  color: var(--color-text);
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}
