.header {
  top: 0;
  width: 100%;
  height: 80px;
  padding: var(--padding-layout);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
}

.logoText {
  color: var(--color-text);
  font-family: "PuradakGentleGothicR";
  /* font-family: 'yg-jalnan'; */
  /* font-family: 'SaenggeoJincheon'; */
  /* font-family: 'GangwonEduPowerExtraBoldA'; */
  /* font-family: 'MaplestoryOTFBold'; */
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  font-size: 1.1rem;
  color: var(--color-text);
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-family: "MaplestoryOTFBold";
}
