ul,
ol {
  list-style: none;
  padding: 0;
}
.wrap {
  position: relative;
  padding-top: 50px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px 80px;
}
.title {
  padding-bottom: 10px;
  display: block;
  font-size: 32px;
  font-weight: 400;
  border-bottom: 2px solid #777;
  margin: 40px 0;
}
.title2 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid black;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}
.title3 {
  display: flex;
  justify-content: space-evenly;
}

p {
  margin-bottom: 10px;
}
table {
  margin: 0 auto;
  border-spacing: 0;
  border-top: 2px solid #333;
  width: 100%;
}

table th {
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  border-bottom: 1px solid #e1e1e1;
  background-color: #ddd;
}
table thead tr:hover {
  background-color: none;
}
table tbody tr:hover {
  background-color: lavender;
}
table td {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
table tr td:nth-child(2) {
  text-align: left;
}
/* ReviewDetail */
.content {
  height: 400px;
  padding: 30px;
}
.like {
  border: 1px solid black;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
/* ReviewWrite */
.title_inputbox {
  width: 780px;
  height: 30px;
}
.content_inputbox {
  width: 780px;
  height: 300px;
  margin: 10px 0;
}
.btn {
  background-color: orange;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 40px;
  width: 150px;
  margin: 10px auto;
}
.btn:hover {
  color: azure;
}
