.container {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: var(--padding-layout);
  color: var(--color-text);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.sectionTitle {
  align-self: start;
}

/*  */
.boxWrapper {
  display: flex;
  gap: 20px;
  align-self: start;
}

.areaBox {
  width: 120px;
}

.sigunguBox {
  width: 150px;
}

.contentTypeBox {
  width: 120px;
}

.searchBtn {
  width: 120px;
  height: 56px;
  font-size: 1rem;
  color: #fff;
  background-color: #303030;
  border-radius: 4px;
}

/*  */

.itemList {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.img {
  display: block;
  width: 100%;
  height: 220px;
}

.title {
  font-size: 1.2rem;
  color: black;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
}
