.container {
  position: relative;
  width: 100%;
  padding: var(--padding-layout);
  color: var(--color-text);
  margin-top: 100px;
  /* background-color: aquamarine; */
}

.areaSelectWrapper {
  max-width: 640px;
  margin-top: 40px;
  background-color: #d6f4ff;
  display: flex;
  border: 1px solid black;
}

.areaList {
  width: 180px;
  height: 400px;
  overflow: auto;
}

.areaName {
  font-size: 1.2rem;
  padding: 0.8rem 0.6rem;
  min-width: 40px;
  color: #16323a;
  text-align: center;
  cursor: pointer;
  border: 1px solid #9fbcc6;
  border-bottom: 0;
  transition: all 0.2s ease-out;
}

.areaName:hover {
  color: #e6f4f1;
  background-color: #4b626a;
}

.areaName.active {
  color: #e6f4f1;
  background-color: #4b626a;
}

.areaName:last-child {
  border-bottom: 1px solid #9fbcc6;
}

.sigunguList {
  height: 400px;
  width: 300px;
  overflow-y: auto;
}

.sigunguName {
  font-size: 1.2rem;
  min-width: 82px;
  width: 50%;
  height: 50px;
  padding: 0.8rem 0.6rem;
  color: #16323a;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  float: left;
}

.sigunguName:hover {
  color: #e6f4f1;
  background-color: #4b626a;
}

.sigunguName.active {
  color: #e6f4f1;
  background-color: #4b626a;
}

.contentList {
  height: 400px;
  width: 150px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.contentName {
  font-size: 1.2rem;
  width: 100%;
  min-width: 120px;
  padding: 0.8rem 0.6rem;
  color: #16323a;
  cursor: pointer;
  transition: all 0.2s ease-out;
  flex: 1 1 auto;
  border-left: 1px solid #16323a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contentName:hover {
  color: #e6f4f1;
  background-color: #4b626a;
}

.contentName.active {
  color: #e6f4f1;
  background-color: #4b626a;
}

.itemList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.img {
  width: 220px;
  height: 180px;
}
