.container {
  position: relative;
  width: 100%;
  padding: var(--padding-layout);
  color: var(--color-text);
  margin-top: 100px;
  /* background-color: aquamarine; */
}

/*  */
.boxWrapper {
  display: flex;
  gap: 20px;
}

.areaBox {
  width: 120px;
}

.sigunguBox {
  width: 150px;
}

.contentTypeBox {
  width: 120px;
}

.searchBtn {
  width: 120px;
  height: 56px;
  font-size: 1rem;
  color: #fff;
  background-color: #303030;
  border-radius: 4px;
}

/*  */

.itemList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.img {
  width: 220px;
  height: 180px;
}
